img {
    width: 100%; /*Please leave this line.*/
     display: block;
}
header {
    background-color:#FE8800 ;
    
}
footer {
    background-color: #FE8800;
    margin-top: 1.5em;
}
h1 {
    font-family:Sutro, serif ;
    font-weight: 700;
    font-style: normal;
    font-size: 2.2em;
    color: #FAFAFA;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    
}
h2 {
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
    font-size: 1.5em;
    color: #FFDDBB;
    padding-left: 1.3em;
    padding-top: .5em;
    padding-bottom: 1em;
}
h3 {
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
    font-size: 1.3em;
    text-transform: uppercase;
    color: #FE8800;
    padding-left: .75em;
    padding-bottom: 1em;
    padding-top: 1em;
    letter-spacing: .1em;
    
    
}
p{
    color:#EEEEEE ;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    font-size: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;

}
ul {
    list-style-type: disc;
    padding-left: 2em;
}
ol {
    list-style-type: decimal;
    padding-left: 2em;
}
li{
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    font-size: 1em;
    padding-bottom: 1em;
}
figcaption{
     font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: italic;
    font-size: 1em;
    margin: 1em;
}